
<div class="row footer-container">
    <div class="col-md-12">
        <div class="copyright">
            <p class="float-start">
                کد نویسی شده توسط <a href="#" target="_blank">سید پویان نبوی</a>
            </p>
        </div>
    </div>
</div>