
<div class="navbar navbar-fixed-top" id="main-navbar">

    <div class="header-right">
        <a href="#" class="logo-con">
            <img src="~/Themes/AdminPanel/ModiranTheme/images/logo.png" class="img-responsive center-block" alt="لوگو سایت ">
        </a>
    </div>

    <div class="header-left">
        <div class="top-bar">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="btn" id="toggle-sidebar">
                        <span class="menu"></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="btn open" id="toggle-sidebar-top">
                        <i class="icon-user-following"></i>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-left">

                <li class="dropdown">
                    <a href="#" class="btn" id="toggle-fullscreen">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                </li>

                <li class="dropdown dropdown-user">
                    <a href="#" class="dropdown-toggle dropdown-hover" data-bs-toggle="dropdown">
                        <img src="~/WebContent/UserAvatars/Default/48.png" alt="عکس پرفایل" class="img-circle img-responsive">
                        <span>سید پویان نبوی</span>
                        <i class="icon-arrow-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                <i class="icon-power"></i>
                                خروج
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>