
<div id="sidebar">

    <div class="sidebar-top">
        <div class="user-box">
            <a href="#">
                <img src="~/WebContent/UserAvatars/Default/48.png" alt="عکس پروفایل" class="img-circle img-responsive">
            </a>
            <div class="user-details">
                <h4>سید پویان نبوی</h4>
                <p class="role">برنامه نویس Net.</p>
            </div>
        </div>
    </div>

    <div class="side-menu-container">
        <ul class="metismenu" id="side-menu">
            <li>
                <a href="#" class="dropdown-toggle">
                    <i class="fas fa-align-justify"></i>
                    <span>مدیریت وظایف</span>
                </a>
                <ul>
                    <li>
                        <a href="/Todo/AddTodo">
                            <span> افزودن وظیفه جدید </span>
                        </a>
                        <a href="/Todo/TodoList">
                            <span> مشاهده ی لیست وظایف </span>
                        </a>                       
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>